@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

</head>

<body>
    <div class="container">
        <div class="header">
            <div class="header-text-wrapper fade-in-text">
                <h1 class="text-lg">Hello World...</h1>
            </div>
            <img src="~/images/Animation - 1720202074068 (1).gif" class="scroll-down fade-out-on-scroll" alt="Scroll Down Image" />
        </div>

        <div class="section fade-in-on-scroll">
            <h2>My Name is Kushwanth</h2>
            <p id="profile">I’m a software developer with a passion for creating beautiful and functional websites. I started my journey in coding because I enjoy creating and making a positive impact on the world. I love the challenge of taking an idea and using my skills and knowledge to bring it to life. When I'm not coding, I enjoy spending time with editing, exploring new things.</p>
        </div>

        <div class="section fade-in-on-scroll">
            <h2>My Study</h2>
            <table>
                <colgroup>
                    <col style="width: 10%;">
                    <col style="width: 45%;">
                    <col style="width: 45%;">
                </colgroup>
                <tr>
                    <td>1</td>
                    <td>Velagapudi Ramakrishna Siddhartha Engineering College.<br>Vijayawada, AP, IN</td>
                    <td>
                        Bachelor of Technology,<br>
                        Major in Computer Science.<br>
                        June 2020 – May 2024.<br>
                        CGPA: 8.0
                    </td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Sri Viswasanthi Educational Institutions.<br>Vuyyuru, AP, IN</td>
                    <td>PCM (Physics, Mathematics, Chemistry)(CBSE),<br>June 2018 - March 2020,<br>Marks – 446/500</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>V. S. St. John's Higher Secondary School.<br>Gannavaram, AP, IN</td>
                    <td>June 2007 - March 2018,<br>Marks – 364/500</td>
                </tr>
            </table>
        </div>

        <div class="section fade-in-on-scroll">
            <h2>My Journey</h2>
            <table>
                <colgroup>
                    <col style="width: 10%;">
                    <col style="width: 45%;">
                    <col style="width: 45%;">
                </colgroup>
                <tr>
                    <td>1</td>
                    <td>DigiFrills.<br>Development Team Lead,<br>Remote, India.<br>12/2023 – Present.</td>
                    <td>As development team lead, coordinating projects including a School app facilitating communication between schools and parents, JobLink for part-time and daily wage job finding, and R&D on automating social media accounts using No Code tools.</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>YuppTV India Pvt Ltd.<br>Data Analyst Intern,<br>Hyderabad, India.<br>06/2023 – 07/2023.</td>
                    <td>Leveraged Python, NumPy, Pandas, and algorithms for Video Analytics data analysis. Demonstrated a strong track record of achieving project objectives and exceeding expectations.</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>Accenture India.<br>Associate Software Engineer, India.<br>Offer received, yet to join.</td>
                    <td>Selected as an Associate Software Engineer through college placement. Pending joining date.</td>
                </tr>
            </table>
        </div>

        <div class="section fade-in-on-scroll">
            <h2>Projects</h2>
            <table>
                <colgroup>
                    <col style="width: 10%;">
                    <col style="width: 45%;">
                    <col style="width: 45%;">
                </colgroup>
                <tr>
                    <td>1</td>
                    <td>Eye Image-Based Gender Profiling Using CNN and IrisFusionNet<br>December 2023 – April 2024</td>
                    <td>Studies gender classification with facial images using deep learning models ResNet-50, InceptionV3, ZFNet, and NASNetLarge. InceptionV3 and NASNetLarge achieve superior accuracy, inspiring IrisFusionNet, an ensemble model combining strengths. Highlights the critical role of model selection in limited data scenarios, providing valuable insights for researchers and practitioners.</td>
                </tr>

                <tr><td></td><td></td><td></td></tr>

                <tr>
                    <td>2</td>
                    <td>Livestock Health Monitoring System with IoT Integration.<br>October 2023 – November 2023</td>
                    <td>Developed a Livestock Health Monitoring System with MAX30105 sensors for real-time heart rate monitoring, GPS modules for location tracking, and temperature sensors for environmental insights. Ensures continuous health monitoring, emergency alerts, and actionable data. Features smart alerts, insights integration, continuous evaluation, and iterative improvements, with robust data security. Technologies include MAX30105 sensors, GPS modules, temperature sensors, ThingSpeak IoT platform, and Wi-Fi communication.</td>
                </tr>

                <tr><td></td><td></td><td></td></tr>

                <tr>
                    <td>3</td>
                    <td>Coconut Tree Detection Using Remote Sensing and Image Processing.<br>January 2023 – November 2023</td>
                    <td>
                        Detected coconut trees in South Indian coastal areas using Faster R-CNN and advanced image processing. Utilized Google Earth Engine for high-quality datasets, implemented with Python, ResNet, OpenCV, and CUDA.
                    </td>
                </tr>

                <tr><td></td><td></td><td></td></tr>

                <tr>
                    <td>4</td>
                    <td>SecureChat Pro: Encrypted Messaging Application.<br>June 2023 – July 2023</td>
                    <td>
                        Designed "SecureChat Pro," a secure messaging app with SHA-512 encryption for user privacy. Utilized Firebase for cloud storage, showcasing proficiency in developing secure, intuitive applications with a focus on confidentiality.
                    </td>
                </tr>

                <tr><td></td><td></td><td></td></tr>

                <tr>
                    <td>5</td>
                    <td>Hotel Management App.<br>January 2023 – May 2023</td>
                    <td>
                        Created a Java-based Hotel Management App with Google Firebase backend using Android Studio. Enables efficient hotel room booking for users and seamless status updates for hotel owners.
                    </td>
                </tr>

                <tr><td></td><td></td><td></td></tr>

                <tr>
                    <td>6</td>
                    <td>Farm To Community Direct Marketing.<br>April 2022 – December 2023</td>
                    <td>
                        Developed F2C, an Android shopping app in Java with Google Firebase backend, designed in Android Studio. Facilitates farm product purchases and enables users to add products.
                    </td>
                </tr>

                <tr><td></td><td></td><td></td></tr>

                <tr>
                    <td>7</td>
                    <td>Online Food Ordering App<br>April 2022 – December 2023</td>
                    <td>
                        Developed a Food Ordering App in Java with Google Firebase backend integration in Android Studio. Enables users to place food orders based on preferences and allows sellers to upload food items.
                    </td>
                </tr>

            </table>
        </div>

        <h2>Contact</h2>
        <div class="social-icons">
            <a href="https://github.com/Kushwanth23"><img src="~/images/icons8-github-50 (1).png" alt="GitHub" class="icon-link"></a>
            <a href="https://www.linkedin.com/in/kushwanth-chandra"><img src="~/images/icons8-linkedin-50.png" alt="LinkedIn" class="icon-link"></a>
            <a href="kushwanthchandra12@gmail.com"><img src="~/images/icons8-gmail-64.png" alt="Email" class="icon-link"></a>
            <a href="https://leetcode.com/u/Kushwanth1045/"><img src="~/images/icons8-level-up-your-coding-skills-and-quickly-land-a-job-50.png" alt="Book" class="icon-link"></a>
            <a href="https://scholar.google.com/citations?user=s1yB53wAAAAJ&hl=en"><img src="~/images/icons8-google-scholar-50.png" alt="Graduation Cap" class="icon-link"></a>
            <a href="~/Kushwanth Medasani-22-06-2024.pdf" target="_blank"><img src="~/images/icons8-resume-50.png" alt="Resume" class="icon-link"></a>
        </div>


        <h2>Say Hiii</h2>
        <form id="contactForm">
            <label for="name">Your Name:</label>
            <input type="text" id="name" name="name" required placeholder="Your Name...">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required placeholder="Your Name...">

            <label for="message">Say Something:</label>
            <textarea id="message" name="message" rows="4" required placeholder="Your Name..."></textarea>

            <button type="submit">Send</button>
        </form>
    </div>

    <script src="~/js/site.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>

